body{
  background-color: dimgray;
}

#titulo-diego{
  vertical-align: middle !important;
}

#boton-login{
  margin-right: 10px;
}

#boton-login a:link{
  color:red !important
} 

#boton-login a:visited{
  color:rgb(0, 0, 0) !important
} 

#boton-login a:hover{
  color:rgb(255, 0, 0) !important
} 

#boton-login a:active{
  color:rgb(124, 0, 0) !important
} 

/***** VER LOS ID *****/

#tarjeta{
  margin-left: 10px;
}

#primer-container{
  margin-left: 10px;
  margin-right: 50px;
  
}

#logo-final{
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}




/***** PAG CSS DE LOGIN.HTML *****/

