#barrita.container-fluid{
    display: flex;
    visibility: hidden;
  }

#barrita.header{
    vertical-align: middle;
  }

  #boton-login.btn  {
    margin-left: auto;
    order: 2;
  }


#barra-1.a{
    color: white;
    
}
/***** VER LOS ID *****/

