body{
  background-color: dimgray;
}

h1{
  font-size: larger;
  margin: 0;
}

p,h4,h6,h4.card-title{
  color: black;
}

#titulo-diego{
  vertical-align: middle !important;
}

#boton-login{
  margin-right: 20px;
}

#boton-login a:link,a:visited,a:hover,a:active{
  color:rgb(0, 0, 0) !important;
  text-decoration: none;
} 

#boton-login {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/***** VER LOS ID *****/

#tarjeta{
  margin-left: 10px;
}

#primer-container{
  padding:50px;
    outline: 1px solid white;
    outline-offset: -20px;
}

#logo-final{
  margin: auto;
  position: absolute;
  bottom: auto;
  left: 0; right: 0;
}




/***** PAG CSS DE LOGIN.HTML *****/

